.make_visible {
    opacity:1;
}

/* Head-Part */
.header {
    position: fixed;
    height: 12em;
    z-index: 1000;
    width: 100%;
    background-color: #000;
    left: 0; right: 0; top: 0; bottom: 0; 
}

a:hover {
    text-decoration: underline;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9000
}

#main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    height: 6rem;
}

#top_nav {
    margin-top: 1rem;
    height: 1em;
    width: 100%;
    position: relative;
}

#search {
    position: relative;
    display: inline;
    margin-top: 0;
    margin-left: 35.5em;
    width: 35em;
    height: 2em;
    border-radius: 2px;
    border-top: 0;
    border-left: 0;
    background: url(../images/search.svg) no-repeat white;
    padding-left: 1.8em;
}

#top_icon_group {
    display: inline;
    position: relative;
    margin-left: 7em;
}

#top_icon_chat {
    position: relative;
    display: inline;
    margin-left: 1rem;
    height: 1.5em;
}

#top_icon_profile {
    display: inline;
    margin-left: 1rem;
    height: 1.5em;
}

#top_icon_settings {
    display: inline;
    margin-left: 1rem;
    height: 1.5em;
}

/* settings_dropdown */

.top_icon_settings_dropdown {
    display: inline;
    height: 5em;
    width: 15em;
    position: absolute;
    z-index: 4000;
    overflow: visible;
    background-color: #fafafa;
    margin-top: 1em;
    margin-left: 52.5em;
    -webkit-box-shadow:  0 0 10px #00f;
    -moz-box-shadow:  0 0 10px #00f;
    box-shadow:  0 0 10px #0b0b0b;
    border:0;
    border-radius: 2px;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition: all 0.2s ease;

    visibility: hidden;
    opacity: 0;
}

.settings_table {
    font-family: "Roboto", sans-serif;
}

#clear_search_operations_button {
    text-align: center; 
    margin: 1em;
    height: 2em;
    width: 19.5em;
    font-family: "Roboto",sans-serif;
    color: #fafafa;
    background-color: #FBB040;
    border: 0;
    letter-spacing: 0.05em;
    border-radius: 2px;
    font-size: 0.7em;
}
#logout_option {
    padding-left: 1em;
}

#change_pw_div{
    background-color: aqua;
    top: 20em;
    height: 10em;
    width: 10em;
    
    z-index: 8000;
}

.change_information_link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #fbb404;
    margin-left: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

#logout_option {
    padding-left: 1em;
}

.top_icon_open_sidebar {
    display: inline;
    position: relative;
    margin-left: 2em;
    height: 1.25em;
    z-index: 2000;
    opacity: 1;
    
}

.Hide_Hamburger{
    display: inline;
    opacity:0;
}

.hide_it{
    opacity: 0 !important;
    visibility: hidden !important;
}

.top_icon_close_sidebar {
    display: inline;
    position: relative;
    margin-left: -1.8em;
    height: 1.25em;
    z-index: 899;
    opacity: 0;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition: all 0.2s ease;
}

.Show_Cross{
display: inline;
  opacity:1;
}

.hamburger_open_close {
    display: inline;
}

#login_register_button {
    text-align: center; 
    height: 2em;
    width: 13em;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #fafafa;
    background-color: #FBB040;
    border: 0;
    letter-spacing: 0.05em;
    margin-left: 13em;
    border-radius: 2px;
    font-size: 0.7em;
}
#login_register_button:active{
    -webkit-box-shadow: inset 0 0 10px #00f;
    -moz-box-shadow: inset 0 0 10px #00f;
    box-shadow: inset 0 0 10px #0b0b0b;
}
#login_register_link{
    display: inline;
    text-decoration: none;
}

#login_register_button, #search:focus{
    outline: none;
}
#login_register_button:visited{
    text-decoration: none;
    color: #fafafa
}


/* Sidebar-Part */

.sidebar {
    position: fixed;
    width: 15rem;
    height: 26em;
    background-color: #fbb040;
    float: left;
    margin-left: 1.8em;
    margin-top: 10em;
    border-radius: 2px;
    text-transform: uppercase;
    z-index: 799;
    opacity: 0;
    visibility: hidden;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition: all 0.2s ease;
}


.Show_Sidebar{
    opacity:1 !important;
    visibility: visible !important;
}

.show_background{
    visibility: visible !important;
}

.sidebar_header {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    font-weight: 100;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 1.5em;
    font-size: 1em;
    text-decoration: underline;
}

#scrol_div {
    position: relative;
    height: 8em;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.8em;
}
::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
        border-radius: 10px;
}
::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}


#add_feed_url {
    margin-left: 0.1em;
    height: 2em;
    width: 15.5em;
}

.add_feed {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    margin-left: 1.7em;
    font-weight: bold;
    float: left;
    padding-right: 2em;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.feed_action_submit {
    height: 2em;
    width: 7em;
    border: 0;
    border-radius: 2px;
    font-weight: bold;
    background-color: #fff;
    color: #fbb040;
    font-family: 'Roboto',sans-serif;
    margin: 1em;
}

#member1 {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.1em;
    width: 7em;
}
#member2 {
    font-family: 'Roboto', sans-serif;
    width: 7em; 
}

.main_wrapper, label{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    clear: both;
}

select{
    border-radius: 4px;
    height: 2em;
    width: auto;
}

.select_mod:after{
}

.wrap{
    clear: both;
    float: left;
    margin: 0.5em 0.4em 0.4em 1.7em;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition: all 0.2s ease;
}

#wrap2{
    padding-left: 0;
}



.wrap_url_box{
  clear: both;
  float: left;
  margin-top: 0;
  margin-left: 0.7em;
  opacity: 1;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  transition: all 0.2s ease;
}

.url_box {
    
    border: none;
    border-radius: 2px;
}
.url_box:focus {
    outline: none;
}


.url_box, #member1, #member2{
  display: inline;
}

.wrap {
    margin:  0.6em;
}


label{
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    font-variant: small-caps;
    font-size: 0.6em;
    float: left;
    opacity: 1;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition: all 0.2s ease;
}

#sidebar_list_user_interests {
    position: relative;
    margin-top: 1em;
    padding: 0;
    margin-left: 1.7em;
    font-size: 0.8em;
    line-height: 1.2em;
    list-style-type: none;
    color: #fafafa; 
    height: 10em;
    font-weight: 100;
}

#sidebar_list_user_favorites {
    position: relative;
    margin-top: 1em;
    padding: 0;
    margin-left: 1.7em;
    font-size: 0.8em;
    list-style-type: none;
    color: #fafafa; 
    height: 5em;
    font-weight: 100;
}

.user_interest, .user_interest_source {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

#social_media_icons_div {
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}

.social_media_icon {
    margin-right: 2em;
    height: 2em;
}

#first_icon {
    margin-left: 2em; 
}

#sidebar_footer {
    position: relative;
    height: 7em;
    width: 100%;
    margin-bottom: 0;
    margin-top: 1em;
}
/*
#index_sidebar_footer {
    position: relative;
    height: 7em;
    width: 100%;
    margin-bottom: 0;
    margin-top: 6em;
}*/
#sidebar_footer_support {
    margin-left: 2.5em;
} 
#sidebar_footer_impressum {
    margin-left: 1em;
}
#sidebar_footer_disclaimer{
    margin-left: 1.5em;
}

#sidebar_list_footer{
    margin-top: 1em;
    font-size: 0.7em;
    text-align: center;
    height: 2em;
}

.sidebar_footer_point {
    color: #fafafa;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: unset;
    margin-left: 1.5rem;
    text-transform: none;
}

/* Pop-Up */

.background_article_popup {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: #BDBDBD;
    z-index: 1;
    opacity: 0.5;
    visibility: hidden;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition: all 0.2s ease;
}

.article_popup {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    background-color: #fafafa;
    border-radius: 3px;
    height: 90%;
    width: 60em;
    margin-left: 10em;
    margin-top: 1.5em;
    z-index: 2;
    opacity: 0;
    overflow-y: scroll;
    visibility: hidden;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition: all 0.2s ease;
}

#popup_nav {
    background: #fbb040;   
}

.article_title {
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: justify;
}

.article_subtitle {
    position: relative;
    text-align: justify;
    margin-left: 0.5em;
    margin-right: 2em;
}

.article_img {
    margin: 1.5em 1em 1em;
    height: 20em;
    display: inline;
    float: left;
}
.article_content {
    margin: 1em; 
    height: 35em;
    position: relative;
    white-space: normal;
    text-align:justify;
    
}

/*
.background_article_popup_show{
    opacity: 0.5
}
.article_popup_show {
    opacity: 1;
}
*/


/* MainPage-Part */

.main_page_no_login {
    background-color: #FBFBFB;
    position: relative;
    height: auto;
    top: 8em; right: 0; bottom: 0;left: 0;
}
.loggedin_main_page {
    background-color: #FBFBFB;
    position: relative;
    height: auto;
    top: 10em; right: 0; bottom: 0;left: 0;
}

.confirm_email_div {
    width: 99%;
    margin-left: auto;
    margin-top: 3em;
    margin-right: auto;
    height: 1.5em;
    background-color: #FBB040;
    align-content: center;

}

.close_email_warning {
    display: inline;
    height: 1em;
    width: auto;
    margin-left: 49em;
    margin-top: 0.2em;
}

#confirm_warning {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    color: #fbfbfb;
    font-size: 1em;
    margin-left: 0.5em;
    white-space: nowrap;
    margin-bottom: auto;
    margin-top: 1em;
}

#table_news_cards{
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.news_card {
    width: 18em;
    padding: 0.5em;
    margin: 1em 0.2em 0.2em;
    display: inline-block;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

#last_in_row {
    border-right: 0;
}

#news_card_img {
    height: 13em;
    width: 18em;
    margin-bottom: 0;
}

#news_card_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    font-size: 0.9em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    border-bottom: 1.5px solid #000;
    min-height: 3em;
    max-height: 3em;
}

#container_table {
    width: 100%;
    margin-top: 0;
    text-align: center;
}
.theme_container {
    display: inline;
    font-family: "Roboto",sans-serif;
    white-space: unset;
    font-size: 0.7em;
    color: grey;
    text-align: left;
}
.source_container {
    display: inline;
    font-family: "Roboto",sans-serif;
    white-space: unset;
    font-size: 0.7em;
    color: grey;
    text-align: center;
}
.active_chats_container {
    display:  inline;
    font-family: "Roboto",sans-serif;
    white-space: unset;
    font-size: 0.8em;
    color: #faaf41;
    text-align-last: right;
}
.active_chats_container:hover {
    cursor: pointer;
    text-decoration: underline;
}

.news_card_sublink{
    text-decoration: none;
    color: #787878;
}

.sublink_text {
    margin-top: 0;
}

.url_box{
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    transition: all 0.2s ease;
}

.url_box_show{
    opacity: 1;
}



/* chat sidebar when logged in */
#chat_sidebar {
    z-index: 3800;
    height: 79%;
    position: fixed;
    width: 25%;
    background-color: #fafafa;
    -webkit-box-shadow: -3px 0 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: -3px 0 5px 0 rgba(0,0,0,0.5);
    box-shadow: -3px 0 5px 0 rgba(0,0,0,0.5);
    
    top: 12em; right: 0; left: auto; bottom: 0;
    visibility: hidden;
    
}

.message_box {
    height: 80%;
    width: 90%;
    position: relative;
    margin: 1em;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    z-index: 3850;
}

#message_box_messages_interface {
    height: 33em;
    overflow-y: auto;
}

.message_box_message {
    position: relative;
    border: 1px solid #faaf41;
    height: auto;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    top: 1em;
    bottom: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.message_box_time_stamp {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    color: #bdbdbd;
    display: inline;
}

.message_box_username {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #faaf41;
    margin: 0;
}
.message_box_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    color: #787878;
    margin: 0;
    white-space: normal;
}

.message_box_wirte_message {
    margin: 0;
    border-top: 1px solid #bdbdbd;    
    
    
    height: 3em;
}

.message_box_sumbmit_message {
    display: inline;
    height: 2em;
    width: 2em;
    position: relative;
    margin: 0;
    background: url(../images/send_message.svg) no-repeat center;
    border: 1px solid #faaf41;
}
.message_box_sumbmit_message:focus {
    outline: none;
}

.message_box_text_box {
    margin: 0.5em 0 0.5em 0.5em;
    width: 18em;
    height: 1.5em;
}

#chat_title {
   margin-left: 1em; 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
}

#chat_break_line {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
}

#chat_start_date {
    margin-left: 1.8em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    color: #787878;
}

#member_list_dropdown {
    height: 1.5em;
    margin-left: 12em;
    color: #787878; 
    font-size: 0.6em;
}

.chat_leave_link {
    margin-left: 1.2em;
    color: #787878;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    cursor: pointer;
    display: inline;
}
.chat_report_link {
    margin-left: 2em;
    color: #787878;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    cursor: pointer;
    display: inline;
}

@media only screen and (min-device-width: 1920px) and (max-device-height: 1080px) {
    .article_popup {
        margin-left: 30em;
        height: 75%;
    }
    
    #search {
        margin-left: 46em;
        width: 45em;    
    }
    
    #login_register_button {
        margin-left: 40em;
    }
    
    #top_icon_chat {
        margin-left: 10em;
    }
    
    .close_email_warning {
        margin-left: 88em;      
    }
    
    .top_icon_settings_dropdown {
        margin-left: 84em;
        z-index: 4000;
    }
    
    #clear_search_operations_button {
        margin-left: 7.5em;
    }
    
    #wrap2 {
        padding-left: 0;
        margin: 0.5em 0 0;
    }
    
    #top_icon_group {
        margin-left: 21em;
    }
    
    .news_card {
        margin: 0.5em
    }
    
    #table_news_cards {
        margin: 2em auto;
    }

    .sidebar {
        margin-top: 11em;
    }

    .main_page_no_login {
        top: 11em;
    }

    #online_register_button {
        float: right;
        margin: 0 35em 0 0;
    }

    .Show_Sidebar  {
        top: 2em;
    }

    .sidebar h3{
        font-size: 20px;
    }

    #sidebar_list_user_interests {
        line-height: 2em;
    }

    #index_sidebar_footer {
        position: absolute;
        bottom: 0;
    }

    /*Mobile Query*/
}