<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Impressum MindFeed</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/metanav/impressum.css"/>
        <link rel="icon" type="image/svg+xml" href="images/mindfeed_favicon.png" sizes="16x16" />
    </head>
    <body>
    <!-- Head-Space -->
    <div class="header">
            <img id="main_logo" src="../../images/Logo_Mindfeed_White_Orange.svg" />
            <a href="../../index.php?action=main"><button id="home_button">BACK TO HOME</button></a>
    </div>  
        
        <div class="main_part_impressum">
          
        <h1 id="first_header">Impressum</h1>
        <h2>Angaben gemäß § 5 TMG:</h2>
         
        <table>
            <tr>
                <td>
                    <div class="contact_box">  
                        <h2 class="contact_box_header">Kontakt:</h2> 
                        <img src="../../images/mike.PNG" alt="mike" class="portrait_member" />
                        <table>
                        <p class="contact_box_description">>Mike Grizzanti<br/>
                        39100 Bozen
                        </p>
                            <tr>
                                <td><p>E-Mail:</p></td>
                                <td><a class="email_link" href="mailto:mike.grizzanti@gmail.com">mike.grizzanti@gmail.com</a></td>
                            </tr>
                        </table>
                        </div>
                </td>
                <td>
                    <div class="contact_box" id="second_row_contact_box">    
                        <h2 class="contact_box_header" >Kontakt:</h2>
                        <img src="../../images/peter.PNG" alt="peter" class="portrait_member" />
                        <table>
                        <p class="contact_box_description">>Peter Großgasteiger<br />
                        39049 Sterzing
                        </p> 
                            <tr>
                                <td><p>E-Mail:</p></td>
                                <td><a class="email_link" href="mailto:petergrossgasteiger98@gmail.com">petergrossgasteiger98@gmail.com</a></td>
                            </tr>
                        </table> 
                    </div> 
                </td>
            </tr>
            <tr>    
                <td>
                    <div class="contact_box">
                        <h2 class="contact_box_header">Kontakt:</h2>
                        <img src="../../images/maxi.PNG" alt="maximilian" class="portrait_member" />
                        <table>
                        <p class="contact_box_description">>Maximilian Penduzzu<br />
                        39100 Bozen
                        </p> 
                            <tr>
                                <td><p>E-Mail:</p></td>
                                <td><a class="email_link" href="mailto:maxi.sudo@gmail.com">maxi.sudo@gmail.com</a></td>
                            </tr>
                        </table>  
                    </div>
                </td>
                <td>
                    <div class="contact_box" id="second_row_contact_box">
                        <h2 class="contact_box_header">Kontakt:</h2>
                            <img src="../../images/jarno.PNG" alt="jarno" class="portrait_member" />
                        <table>
                        <p class="contact_box_description">>Jarno Scantamburlo<br />
                        39100 Bozen
                        </p> 
                            <tr>
                                <td><p>E-Mail:</p></td>
                                <td><a class="email_link" href="mailto:jarno.scantamburlo@gmail.com">jarno.scantamburlo@gmail.com</a></td>
                            </tr>
                        </table> 
                    </div>
                </td>
            </tr>
        </table>    
            
        <div class="contact_box">
        <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
        <p>Maximilian Penduzzu</p>
        <p>Mike Grizzanti</p>
        <p>Peter Großgasteiger</p>
        <p>Jarno Scantamburlo</p>
        <p> </p>
        <p>Quelle: <em><a class="email_link" href="https://www.e-recht24.de">eRecht24</a></em></p>
            </div>
        </div>
    </body>
</html>