<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Impressum MindFeed</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/metanav/impressum.css"/>
    </head>
    <body>
    <!-- Head-Space -->
    <div class="header">
            <a href="index.php?action=main"><img id="main_logo" src="../../images/Logo_Mindfeed_White_Orange.svg" /></a>
            <a href="index.php?action=main"><button id="home_button">BACK TO HOME</button></a>
    </div>  
        
        <div class="main_part_impressum">
          
        <h1 id="first_header">Impressum</h1>
        <h2>Angaben gemäß § 5 TMG:</h2>
        <div class="contact_box">  
        <h2>Kontakt:</h2>
        <table>
        <p>Mike Grizzanti<br/>
        39100 Bozen
        </p>
            <tr>
                <td>E-Mail:</td>
                <td><a href="mailto:mike.grizzanti@gmail.com">mike.grizzanti@gmail.com</a></td>
            </tr>
        </table>
        </div>
            
        <div class="contact_box">    
        <h2>Kontakt:</h2>
        <table>
        <p>Peter Großgasteiger<br />
        39049 Sterzing
        </p>
            <tr>
                <td>E-Mail:</td>
                <td><a href="mailto:petergrossgasteiger98@gmail.com">petergrossgasteiger98@gmail.com</a></td>
            </tr>
        </table> 
        </div> 
        <div class="contact_box">
        <h2>Kontakt:</h2>
        <table>
        <p>Maximilian Penduzzu<br />
        39100 Bozen
        </p>
            <tr>
                <td>E-Mail:</td>
                <td><a href="mailto:maxi.sudo@gmail.com">maxi.sudo@gmail.com</a></td>
            </tr>
        </table>  
        </div> 
        <div class="contact_box">
        <h2>Kontakt:</h2>
        <table>
        <p>Jarno Scantamburlo<br />
        39100 Bozen
        </p>
            <tr>
                <td>E-Mail:</td>
                <td><a href="mailto:jarno.scantamburlo@gmail.com">jarno.scantamburlo@gmail.com</a></td>
            </tr>
        </table>    
        </div>
            
            <div class="contact_box">
        <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
        <p>Maximilian Penduzzu</p>
        <p>Mike Grizzanti</p>
        <p>Peter Großgasteiger</p>
        <p>Jarno Scantamburlo</p>
        <p> </p>
        <p>Quelle: <em><a href="https://www.e-recht24.de">eRecht24</a></em></p>
            </div>
        </div>
    </body>
</html>