<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Support-Section</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../css/metanav/support.css"/>
        <link rel="icon" type="image/svg+xml" href="images/mindfeed_favicon.png" sizes="16x16" />
        <title>Disclaimer</title>
    </head>
    <body>
        <!-- Head-Space -->
        <div class="header">
            <img id="main_logo" src="../../images/Logo_Mindfeed_White_Orange.svg" />
            <a href="../../index.php?action=main"><button id="home_button">BACK TO HOME</button></a>
        </div>    
        
        <div class="main_part_support">
        <h1 id="first_header">Welcome to MindFeed-Support</h1>
        
            <div class="explanation_box">
                <h2>Need Help?</h2>
                <p>We provide help with any kind of problems. Just send your Email to: </p>
                <a href="mailto:support@mindfeed.esy.es">support@mindfeed.esy.es</a>
            </div>
        
            
        
        </div>
    </body>
</html>