/* Head-Part */
.header {
    height: 10em;
    width: 100%;
    background-color: #000;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0; 
}

a {
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
}
a:hover {
    text-decoration: underline;
}

#main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height: 6rem;
    width: 20em;
}


#home_button {
    position: absolute;
    height: 2em;
    width: 10em;
    border: 0;
    border-radius: 2px;
    font-weight: bold;
    background-color: #fff;
    color: #fbb040;
    font-family: 'Roboto',sans-serif;
    margin-left: 2.5em;
}

.main_part_impressum {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 10em;
    padding: 2em;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
}

p{
    font-family: "Open Sans", sans-serif;
}

#first_header {
    margin-top: 0;
}

.contact_box{
    border: 1px solid #fbb040;
    padding: 1em;
    width: 20em;
    margin-bottom: 1em;
    border-radius: 3px;
}

.contact_box_header {
    margin-top: 0;
    width: 40%;
    display: inline;
}

.contact_box_description {
    width: 60%;
}

.portrait_member {
    margin-left: 2em;
    height: 6em;
    width: 6em;
    position: absolute;
    margin-left: 6em;
}

#second_row_contact_box {
    margin-left: 5em;
}

.email_link {
    color: #fbb040;
    text-decoration: none;
}
.email_link:hover {
    text-decoration: underline;
}