<!DOCTYPE html>
<html>
    <head>
    <title>mindfeed</title>
    
    <link rel="stylesheet" type="text/css" href="css/404_page.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="images/mindfeed_favicon.png" sizes="16x16" />
    </head>
    <body>
        <!-- Head-Space -->
        <header class="header">
            <img id="main_logo" src="images/Logo_Mindfeed_White_Orange.svg" />
            
            
            
        </header>
        
        <!-- Main-Space -->
        
        
        