<!DOCTYPE html>
<html>
    <head>
    <title>MINDFEED</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
    
    <body>
        <!-- Head-Space -->
        <header class="header">
            <a href="index.php?action=noLogin"><img id="main_logo" src="../images/Logo_Mindfeed_White_Orange.svg" /></a>
            
            
            <!-- icons -->
            <nav id="top_nav">
                <img id="top_icon_open_sidebar" src="../images/open_sidebar.svg" />
                <img id="top_icon_close_sidebar" src="../images/close_Sidebar.svg" />
                <input type="search" id="search" placeholder="search" />
                <a href="index.php?action=login"><input type="button" id="login_register_button" value="LOGIN | REGISTER" /></a>
            </nav>
        </header>
        
                <!-- Main-Space -->
        
        <div class="main_page">


            <div class="news_card_left">
                <img id="news_card_img" src="../images/Dubai_test_newscard.jpg"/><br/>
                <p id="news_card_text">asdfasdf asdfasdfasd fasdfasdfasdfa sdfasdfaas sdfasdfaas</p>

                <div class="theme_container"><a class="news_card_sublink" href="#">theme</a></div>
                <div class="source_container"><a class="news_card_sublink" href="#">source</a></div>
                <div class="active_chats_container">x Chats</div>
            </div> 
            
            <div class="news_card_center_left">
                <img id="news_card_img" src="../images/Dubai_test_newscard.jpg"/><br/>
                <p id="news_card_text">asdfasdf asdfasdfasd fasdfasdfasdfa sdfasdfaas sdfasdfaas</p>

                <div class="theme_container"><a class="news_card_sublink" href="#">theme</a></div>
                <div class="source_container"><a class="news_card_sublink" href="#">source</a></div>
                <div class="active_chats_container">x Chats</div>
            </div>
           
            <div class="news_card_center_right">
                 <img id="news_card_img" src="../images/Dubai_test_newscard.jpg"/><br/>
                <p id="news_card_text">asdfasdfd asdfasdfasd fasdfasdfasdfa sdfasdfaas sdfasdfaas</p>
                
                
                <div class="theme_container"><a class="news_card_sublink" href="#">theme</a></div>
                <div class="source_container"><a class="news_card_sublink" href="#">source</a></div>
                <div class="active_chats_container">x Chats</div>
            </div>
            
            <div class="news_card_right">
                <img id="news_card_img" src="../images/Dubai_test_newscard.jpg"/><br/>
                <p id="news_card_text">asdfasdf asdfasdfasd fasdfasdfasdfa sdfasdfaas sdfasdfaas</p>
            
                <div class="theme_container"><a class="news_card_sublink" href="#">theme</a></div>
                <div class="source_container"><a class="news_card_sublink" href="#">source</a></div>
                <div class="active_chats_container">x Chats</div>
            </div>
            

            
            
        
        <!-- Sidebar -->
        <!--
        <div class="sidebar">
            <h3 id="sidebar_header">Themes:</h3>
        <ul id="sidebar_list_user_interests">
            <li><a class="user_interest" href="#">lorem</a></li>
            <li><a class="user_interest" href="#">ipsum</a></li>
            <li><a class="user_interest" href="#">dolor</a></li>
            <li><a class="user_interest" href="#">sit</a></li>
            <li><a class="user_interest" href="#">amet</a></li>
            </ul> 
            <br/>
        <footer id="sidebar_footer">
            <a id="add_point">ADD +</a>
            <hr/>
            <div id="social_media_icons_div">
            <a href="http://www.facebook.com/profile.php"><img class="social_media_icon" id="first_icon" src="../images/socialmedia/facebook.svg"/></a>
            <a href="#"><img class="social_media_icon" src="../images/socialmedia/twitter.svg"/></a>
            <a href="#"><img class="social_media_icon" src="../images/socialmedia/google+.svg"/></a>
            </div>
            <hr/>
            <br/>
            <nav id="sidebar_list_footer">
                <a class="sidebar_footer_point" href="metanav/impressum.tpl.html">Impressum</a>
                <a class="sidebar_footer_point" href="metanav/disclaimer.tpl.html">Privacy</a>
                <a class="sidebar_footer_point" href="metanav/support.tpl.html">Support</a>
            </nav>
        </footer>
        </div>
        -->
        

        
        
        
        
        
        
        
        
    </body>
</html>
