<!DOCTYPE html>
<html>
    <head>
    <title>MINDFEED</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
    
    <body>
        <!-- Head-Space -->
        <header class="header">
            <a href="index.html"><img id="main_logo" src="../images/Logo_Mindfeed_White_Orange.svg" /></a>
            <input type="search" id="search" placeholder="search" />
            
            <!-- icons -->
            <nav id="top_nav">
                <img id="top_icon1.1" src="../images/open_sidebar.svg" />
                <img id="top_icon1.2" src="../images/Close_Sidebar.svg" />
                <img id="top_icon2" src="../images/chat.svg" />                    
                <img id="top_icon3" src="../images/profile.svg" />
            </nav>
        </header>
        
                <!-- Main-Space hat fehler-->
        <div class="main_page">
            <div class="news_div">
                <div id="news_div_image_space"></div>
                <div id="news_div_text_space"></div>
            </div>
        </div>
        
        <!-- Sidebar -->
        <!--
        <div class="sidebar">
        <ul id="sidebar_list_user_interests">
            <li><a class="user_interest" href="#">lorem</a></li>
            <li><a class="user_interest" href="#">ipsum</a></li>
            <li><a class="user_interest" href="#">dolor</a></li>
            <li><a class="user_interest" href="#">sit</a></li>
            <li><a class="user_interest" href="#">amet</a></li>
            </ul> 
            <br/>
        <footer id="sidebar_footer">
            <div id="social_media_icons_div">
            <img class="social_media_icon" src="#"/>
            <img class="social_media_icon" src="#"/>
            <img class="social_media_icon" src="#"/>
            </div>
            <hr/>
            </br>
            <ul id="sidebar_list_footer">
                <li><a class="sidebar_footer_point" href="#">Impressum</a></li>
                <li><a class="sidebar_footer_point" href="#">Privcy</a></li>
                <li><a class="sidebar_footer_point" href="#">Support</a></li>
            </ul>
        </footer>
        </div>
        -->
        
        

        
        
        
        
        
        
        
        
    </body>
</html>
