<!DOCTYPE html>
<html>
    <head>
    <title>MINDFEED</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
    
    <body>
        <!-- Head-Space -->
        <header id="header">
            <img id="main_logo" src="#" />
            
            <nav id="top_nav">
                <input type="search" id="search" placeholder="search" />
                    <!-- icons -->
                    
                <img id="top_icon1" src="#" />
                    
                    
                <img id="top_icon2" src="#" />
                    
                
            </nav>
            
        </header>
        
        <!-- Sidebar -->
        <div class="sidebar">
        <ul id="sidebar_list">
            <li>lorem</li>
            <li>ipsum</li>
            <li>dolor</li>
            <li>sit</li>
            <li>amet</li>
            </ul>   
        </div>
        
        
        
        <!-- Main-Space hat fehler-->
        <div class="main_page">
            <h1>Hallo Welt</h1>
        </div>
        
        
        
        
        
        
        
        
    </body>
</html>
