<!DOCTYPE html>
<html>
    <head>
    <title>MINDFEED</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    </head>
    
    <body>
        <!-- Head-Space -->
        <header class="header">
            <a href="index.tpl.html"><img id="main_logo" src="../images/Logo_Mindfeed_White_Orange.svg" /></a>
            
            
            <!-- icons -->
            <nav id="top_nav">
                <img id="top_icon_open_sidebar" src="../images/open_sidebar.svg" />
                <img id="top_icon_close_sidebar" src="../images/close_Sidebar.svg" />
                <input type="search" id="search" placeholder="search" />
                <img id="top_icon_chat" src="../images/chat.svg" />                    
                <img id="top_icon_profile" src="../images/profile.svg" />
                <img id="top_icon_settings" src="../images/settings.svg" />
            </nav>
        </header>
        
        
        <div class="main_page">
             
            <div class="news_card" id="news_card">
                <a id="news_card_link" href="#">
                <div class="theme_container">
                    <h7 class="theme">Thema</h7>
                </div>
                <div id="news_card_image_space">
                    <img src="../images/Dubai_test_newscard.jpg" class="news_card_img"/>
                </div>
                <div id="news_card_text_space">
                    <h3 class="news_card_title">Hallo Welt</h3>
                    <p class="news_card_text">asdfasd fklajsdföal skdjfölask djföalskd jföal sdkf jlöasdkj faöslk djfaslökdfj</p>
                </div> 
            </a>
            </div> 
            
        </div>
        
        
        <!-- Sidebar -->
        <!--
        <div class="sidebar">
            <h3 id="sidebar_header">Themes:</h3>
        <ul id="sidebar_list_user_interests">
            <li><a class="user_interest" href="#">lorem</a></li>
            <li><a class="user_interest" href="#">ipsum</a></li>
            <li><a class="user_interest" href="#">dolor</a></li>
            <li><a class="user_interest" href="#">sit</a></li>
            <li><a class="user_interest" href="#">amet</a></li>
            </ul> 
            <br/>
        <footer id="sidebar_footer">
            <a id="add_point">ADD +</a>
            <hr/>
            <div id="social_media_icons_div">
            <a href="#"><img class="social_media_icon" id="first_icon" src="../images/socialmedia/facebook.svg"/></a>
            <a href="#"><img class="social_media_icon" src="../images/socialmedia/twitter.svg"/></a>
            <a href="#"><img class="social_media_icon" src="../images/socialmedia/google+.svg"/></a>
            </div>
            <hr/>
            <br/>
            <nav id="sidebar_list_footer">
                <a class="sidebar_footer_point" href="metanav/impressum.html">Impressum</a>
                <a class="sidebar_footer_point" href="metanav/disclaimer.html">Privacy</a>
                <a class="sidebar_footer_point" href="metanav/support.html">Support</a>
            </nav>
        </footer>
        </div>
        
        -->
        
        
        
        
        
        
        
        
    </body>
</html>
