<!DOCTYPE html>
<html>
    <head>
    <title>mindfeed</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="js/ajax/createNews.js"></script>
    <script type="text/javascript" src="js/css/transitions.js"></script>    
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="images/mindfeed_favicon.svg" sizes="16x16" />
    </head>
    
    <body>
        <!-- PopUp -->
        <div class="background_article_popup"></div>
        <div class="article_popup">
        <nav id="popup_nav">
            <img src="images/Close_popup.svg" class="close_popup" name="close_popup"/> <!-- JS close popup -->
            
        </nav>
            
            
        <img src="#" class="article_img" name="article_img" />
        
        <h3 class="article_title">title</h3>
        
        <h5 class="article_subtitle">subtitle</h5>
        
        <p class="article_content">content</p>
        </div>
        
        <div id="change_pw_div">
            <form class="change_password_form">
                <input type="text" placeholder="old password" id="text_field_old_password" class="change_information_text_field"/>    
                <input type="text" placeholder="new password" id="text_field_new_password" class="change_information_text_field"/>    
                <input type="text" placeholder="repeat new password" id="text_field_repeat_new_password" class="change_information_text_field"/>    
                <input type="submit" value="change email" class="change_information_submit_button"/>
                <p id="user_terms">by submitting these changes you agree to the mindfeed licence agreement</p>
            </form>
        </div>
        <!-- Head-Space -->
        
        <!-- Sidebar -->
        <div class="sidebar">
            <div id="scrol_div">
            <h3 class="sidebar_header">Interests:</h3>
        <ul id="sidebar_list_user_interests">
            <li><a class="user_interest" href="#">POLITICS</a></li>
            <li><a class="user_interest" href="#">ECONOMY</a></li>
            <li><a class="user_interest" href="#">TECHNOLOGY</a></li>
            <li><a class="user_interest" href="#">SCIENCE</a></li>
            <li><a class="user_interest" href="#">CRONICLE</a></li>
            <li><a class="user_interest" href="#">ART</a></li>
            <li><a class="user_interest" href="#">SOCIAL</a></li>
            <li><a class="user_interest" href="#">TRAVEL</a></li>
            <li><a class="user_interest" href="#">SPORT</a></li>
            </ul> 
            <br/>
                
            <h3 class="sidebar_header">Favorites:</h3>
            <ul id="sidebar_list_user_favorites">
            <li><a class="user_interest" href="#"><?php var_dump($_SESSION['id']); ?></a></li>
            <li><a class="user_interest" href="#">ECONOMY</a></li>
            <li><a class="user_interest" href="#">TECHNOLOGY</a></li>    
            </ul> 
            <br/>
            </div>
            <hr/>
            
            
            <form method="post" action="index.php?action=download_feed" id="add_feed_box">
                <a class="add_feed">ADD FEED +</a>
                <div class="main_wrapper">
                <div class="wrap">
                    <label class="select_mod">
                    <select name="member1" id="member1">
                                  <?php $index = 1; foreach($feed_source as $value){ ?>
                                  <option class="selected_option" value="<?php echo $index++ ?>">
                                      <?php echo $value->getSourceName() ?></option> 
                                    <?php } ?>
                    </select>
                    </label>
                    <label for="member1">Choose source</label>
                </div>
                    
                <div class="wrap" id="wrap2">
                    <label class="select_mod">
                    <select name="member2" id="member2"> 
                                  <?php $index = 1; foreach($category_name as $value){ ?>
                                  <option class="selected_option" value="<?php echo $index++ ?>">
                                      <?php echo $value->get_category_name() ?></option> 
                                    <?php } ?>
                                </select>
                    </label>    
                    <label for="member2">Choose theme</label>
                </div>
            </div>
            <div class="wrap_url_box">
                <input id="add_feed_url" name="add_feed" type="url" class="url_box" placeholder="Ex: http://www.yoursite.com">
                <label for="member3">Insert Custom Source</label>
            </div>
            </form>
            
        <footer id="sidebar_footer">
            <hr/>
            <div id="social_media_icons_div">
                <a href="https://www.facebook.com/mindfeedesyes/"><img class="social_media_icon" id="first_icon" src="images/socialmedia/facebook.svg"/></a>
                <a href="#"><img class="social_media_icon" src="images/socialmedia/twitter.svg"/></a>
                <a href="#"><img class="social_media_icon" src="images/socialmedia/google+.svg"/></a>
            </div>
            <br/>
            
            
            <nav>
                <table id="sidebar_list_footer">
                <tr>
                    <td>
                    <a class="sidebar_footer_point" href="view/metanav/impressum.tpl.html">Impressum</a>
                    </td>
                    <td>
                    <a class="sidebar_footer_point" href="view/metanav/disclaimer.tpl.html">Privacy</a>
                    </td>
                    <td>
                    <a class="sidebar_footer_point" href="view/metanav/support.tpl.html">Support</a>
                    </td>
                </tr>
                </table>
            </nav>
        </footer>
        </div>
        
        <header class="header">
            <img id="main_logo" src="images/Logo_Mindfeed_White_Orange.svg" />
            
            
            <!-- icons -->
            <nav id="top_nav">
                <img class="top_icon_open_sidebar" src="images/open_sidebar.svg" />
                <img class="top_icon_close_sidebar" src="images/close_Sidebar.svg" />
                <input type="search" id="search" placeholder="search" />
                
                <div id="top_icon_group">
                    <img id="top_icon_chat" class="top_icon_chat" src="images/chat.svg" />
                    <img id="top_icon_settings" class="top_icon_settings"  src="images/settings.svg" />
                    <a href="index.php?action=user_profile"><img id="top_icon_profile" class="top_icon_profile" src="images/profile.svg" /></a>
                </div>
                <div id="drop_downs">
                    <div class="top_icon_chat_dropdown">
                        <div class="dropdown_chat_list">
                            <p class="article_title">asdfas dfasdjklfa jklösdfjk lajkl asdfas dfasdjklfa jklösdfjk lajkl asdfas</p>
                            <br/>
                            <h7 class="unread_messages_text">unread messages: <p class="unread_messages_counter">X </p></h7> 
                        </div>
                        
                        <div class="dropdown_chat_list">
                            <p class="article_title">asdfas dfasdjklfa jklösdfjk lajkl asdfas dfasdjklfa jklösdfjk lajkl asdfas</p>
                            <br/>
                            <h7 class="unread_messages_text">unread messages: <p class="unread_messages_counter">X </p></h7> 
                        </div>
                    </div>
                
                    <div class="top_icon_settings_dropdown">
                        <a href="#"><input type="button" id="clear_search_operations_button" value="Clear search operations" /></a>
                        
                        <footer class="bottom_table">
                        <table id="settings_table">
                            <tr>
                            <td><a class="change_information_link" href="index.php?action=user_profile">change password</a></td>
                            <td><a class="change_information_link" id="logout_option" href="index.php?action=logout">Logout</a></td>
                            </tr>
                        </table>
                        </footer>
                    </div>
                </div>
            </nav>
        </header>
        
        <!-- chat sidebar -->
        <div id="chat_sidebar">
            
            <h4 id="chat_title">chat_title</h4>
            <hr id="chat_break_line">
            <h7 id="chat_start_date">chat started on:<!--<?php date and time ?>--></h7>
            
            <select id="member_list_dropdown">
                <option selected disabled hidden="hidden">members</option>
                <option value="chat_member1">Gölf</option>
                <option value="chat_member2">Gölf</option>
                <option value="chat_member3">Gölf</option>
                <option value="chat_member4">Gölf</option>
                <option value="chat_member5">Gölf</option>
            </select>
            
            <div class="message_box">
            
            </div> 
            
            <a class="chat_leave_link"><h7>leave chat</h7></a>
            <a class="chat_report_link"><h7>report</h7></a>
            
        </div> 
        
        
        <!--main page-->
        <div class="loggedin_main_page">
            
            <!-- Überprüft ob user_status == 0, wenn ja wird meldung angezeigt EMAIL zu bestätigen -->
            <?php 
                $user = tb_user::getUserFromID($_SESSION['id']);
                if ($user->getStatus() == '0') { ?>
                    <div class="confirm_email_div">
                        <p id="confirm_warning">To complete your registration, please confirm your email.</p>
                        <img class="close_email_warning" src="images/close_Sidebar.svg" />
                    </div>
            <?php } ?>
            <!-- -->
            
             
            
            <table id="table_news_cards">
            <tr> 
            <td>    
                <div class="news_card">
                    <img id="news_card_img" src="#"/><br/>
                    <p id="news_card_text"></p>
                    
                    <table id="container_table">
                        <tr>
                            <td>
                    <div class="theme_container"><a class="news_card_sublink" href="#"><p class="sublink_text">theme</p></a></div>
                            </td>
                            <td>
                    <div class="source_container"><a class="news_card_sublink" href="#"><p class="sublink_text">source</p></a></div>
                            </td>
                            <td>
                    <div class="active_chats_container"><p class="sublink_text">x Chats</p></div>  
                            </td>
                        </tr>
                    </table>    
                </div>
            </td> 
                
            <td>
                 <div class="news_card">
                    <img id="news_card_img" src="#"/><br/>
                    <p id="news_card_text"></p>
                    
                    <table id="container_table">
                        <tr>
                            <td>
                    <div class="theme_container"><a class="news_card_sublink" href="#"><p class="sublink_text">theme</p></a></div>
                            </td>
                            <td>
                    <div class="source_container"><a class="news_card_sublink" href="#"><p class="sublink_text">source</p></a></div>
                            </td>
                            <td>
                    <div class="active_chats_container"><p class="sublink_text">x Chats</p></div>  
                            </td>
                        </tr>
                    </table>   
                </div>  
            </td>
                
            <td>
                 <div class="news_card">
                    <img id="news_card_img" src="#"/><br/>
                    <p id="news_card_text"></p>
                    
                    <table id="container_table">
                        <tr>
                            <td>
                    <div class="theme_container"><a class="news_card_sublink" href="#"><p class="sublink_text">theme</p></a></div>
                            </td>
                            <td>
                    <div class="source_container"><a class="news_card_sublink" href="#"><p class="sublink_text">source</p></a></div>
                            </td>
                            <td>
                    <div class="active_chats_container"><p class="sublink_text">x Chats</p></div>  
                            </td>
                        </tr>
                    </table>   
                </div>  
            </td>
                
            <td>
                 <div class="news_card">
                    <img id="news_card_img" src="#"/><br/>
                    <p id="news_card_text"></p>
                    
                    <table id="container_table">
                        <tr>
                            <td>
                    <div class="theme_container"><a class="news_card_sublink" href="#"><p class="sublink_text">theme</p></a></div>
                            </td>
                            <td>
                    <div class="source_container"><a class="news_card_sublink" href="#"><p class="sublink_text">source</p></a></div>
                            </td>
                            <td>
                    <div class="active_chats_container"><p class="sublink_text">x Chats</p></div>  
                            </td>
                        </tr>
                    </table>   
                </div>  
            </td>
                
            </tr>    
            </table>
            
            
            
            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
            <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
            <script>
            window.addEventListener("load", function(){
            window.cookieconsent.initialise({
              "palette": {
                "popup": {
                  "background": "#0b0b0b",
                  "font-family": 'Open Sans'
                },
                "button": {
                  "background": "#fbb040",
                  "text": "#fafafa",
                  "font-family": 'Roboto'
                }
              },
              "theme": "classic",
              "position": "bottom-right",
            })});
            </script>
        </div>        
    </body>
</html>
