<!DOCTYPE html>
<html>
    <head>
        <title>MINDFEED</title>
        <meta charset="utf-8" />
        <meta name="google-signin-client_id" content="764761977830-m3m48i2fqvjf267sl6ibdr2lnb97dgj2.apps.googleusercontent.com">
        
        <link rel="stylesheet" type="text/css" href="../css/user_profile.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="../images/mindfeed_favicon.svg" sizes="16x16" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="../js/css/transitions.js"></script>
    </head>
    <body>
        
        
        
        
        
        
        
    </body>
</html>

